<style type="text/css">
	#myProgress {
  width: 100%;
  background-color: grey;
}

#Python {
  width: 80%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

#Java {
  width: 90%;
  height: 20px;
  background-color: #ffe277;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

#C {
  width: 60%;
  height: 20px;
  background-color: #63b7af;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

#Javascript {
  width: 40%;
  height: 20px;
  background-color: #d9455f;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}
</style>

<p> Java </p>
<div id="myProgress">
<div id="Java"></div>
</div>

<p> Python </p>
<div id="myProgress">
<div id="Python"></div>
</div>

<p> C </p>
<div id="myProgress">
<div id="C"></div>
</div>

<p> Javascript </p>
<div id="myProgress">
<div id="Javascript"></div>
</div>